<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/log4javascript/1.4.9/log4javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/buttons.js"></script>

</head>
<body>
<div class="row">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4"><h2>Log control panel</h2>  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
      <a href="/buttons">Manually create log records</a>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">Total Streams id DB: {{ total_streams }}  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4"></div>
</div>
</body>
